*{

margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* padding: 30px; */
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: rgb(243, 237, 237);

}

.enter {
  color: red;
  background-color: beige;
  border-radius: 50%;
  padding: 12px;
  margin-top: 10px;
  
}

.enter:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.site {
  color: red;
  background-color: beige;
  border-radius: 50%;
  padding: 12px;
  margin-left: 9px;
}

.site:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}


.Front-page {
  position: absolute;
  top: 30%;
  left: 65%;
}

.backgroundPhoto {
  opacity: 0.9;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* clip-path: polygon(100% 40%, 100px 0 , 0 400px, 0 50%); */
}
 
